.about {

 visibility: hidden;
 opacity: 0;
 transition: all ease 0.5s;
 
 background-image: url("./img/about-visual.png");
 background-repeat: no-repeat;
 background-position: right;

 display: flex;
 flex-direction: column;
 justify-content: center;

 @include phones() {

  justify-content: space-between;
 }
 

 &__title {
  margin-bottom: 50px;
  display: inline;

  @include phones () {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
  }
 }

 &__btn {

  @include link_style_none;
  width:85px;
  margin-bottom: 60px;

  text-transform: uppercase;
  position: relative;

  @include phones() {
   margin-bottom: 10px;
  }
  
  &:before {
   content:'➝';
   position: absolute;
   right: 0px;
   transition: all ease 0.3s;
  }

  &:hover::before {
   right: -10px;
  }
 }

 &__list {

  display: flex;
  justify-content: flex-start;
  @include list_style_none;

  @include phones() {
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
  }

 }

 &__item {
  position: relative;

  width:180px;
  height: 100px;
  box-shadow: 0px 0px 15px 5px $blue;
  border-radius: 5px;
  margin-right: 40px;

  @include phones() {
   width: 200px;
   height: 120px;
   margin-right: 0px;
  }

  @include minPhone() {
   width: 200px;
   height: 120px;
   margin-right: 0px;
  }

  &_img {
   height: 100%;
   width: 100%;
   object-fit: none;
   border-radius: 5px;
  }

  &::before {

   position: absolute;

   bottom:-18px;
   left:10px;

   text-transform: uppercase;

  }

  &:nth-child(1)::before{
   content:'winners';
  }
  &:nth-child(2)::before{
   content:'philosophy';
  }
  &:nth-child(3)::before{
   content:'history';
  }

 }


}