.outer {
 width: 50%;
 transition: all ease 0.4s;
 
 
 &__nav {

  @include list_style_none;
  font-size: 38px;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 font-weight: 600;


 }

 &__item {
  
  margin-top: 30px;

 }

 &__item--active{

  .outer__link {
   color:$blue;
  }

 }

 &__link {

  @include link_style_none;

 }

 &--active {
  display: flex;

 }

}