.section_home {
   
   display:flex;
   flex-direction: column;

   .top_content {
    position: relative;
    height: 475px;
    border-bottom: 2px solid $grey;

      &__image {

       position: absolute;
       right: -15px;
       top: 12px;
      }

      &__title {

       margin-top: 40px;
       margin-bottom: 40px;
      }

   }

  .bottom_content {
   
   &__list {

    @include list_style_none;

    display: flex;


   }

   .list__item {
      
       .item__title {

       text-transform: uppercase;
       font-size: 18px;
       font-weight: bold;
       
       margin-bottom: 10px;

      }
      
      .item__description {
       line-height: 1.42;
      }
      
   }

  }





}

.title {

 font-size:68px;
 font-weight: 600;
 
}