.section_home {
   
   display:flex;
   flex-direction: column;
   justify-content: flex-start;
   
   @include tablets() {
      width: 95%;

   }

   .top_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
   //  height: 475px;
    border-bottom: 2px solid $grey;
   
    &::before {
       content:'';
       width:30px;
       height: 10px;
       display:block;
       position: absolute;
       background-color:$blue;
       border-radius: 25%;
       bottom:-10px;
       transform: translateY(-50%);

    }
   .left_side{
      width: 50%;
      margin-bottom: 40px;
   }

   .right_side {
      width:50%;
      position: relative;

      .top_content__image {
         position: absolute;
         bottom: 0;
         width: 100%;


      //  @include laptop() {
      //    width: 70%;
      //  }
      }
   }

      &__title {

       margin-top: 40px;
       margin-bottom: 40px;
       display: block;
       width: 50%;

       @include tablets() {
          font-size: 40px;
       }
      }

   }

  .bottom_content {
   
   &__list {

    @include list_style_none;

    display: flex;
    justify-content: space-between;

    @include tablets() {
      flex-direction: column;
      margin-top: 10px;
   }

   }

   .list__item {
      // width:30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $grey;
      transition: all ease 0.3s;

      @include tablets() {
         align-items: flex-start;
         margin-bottom: 10px;
      }
      
      &:hover {
         color:#fff;
      }
      
       .item__title {

       text-transform: uppercase;
       font-size: 18px;
       font-weight: bold;
       text-align: center;

      }
      
      .item__description {
         text-align: center;
         margin-top: 10px;
       line-height: 1.42;

       @include tablets() {
         margin-top: 5px;
      }
      }
      
   }

  }

}

.title {

 font-size:50px;
 font-weight: 600;

 @include phones(){
    font-size: 40px;
 }
 
}

.btn_hire {

   @include link_style_none;
   text-transform: uppercase;
   position: relative;
   padding: 8px 10px;
   
   
   &::before {

      content:'';
      position: absolute;
      top:0;
      right: 0;
      width:75%;
      height: 100%;
      background-color:$blue;
      border-radius:5px;

      z-index: -1;

      transition: all ease 0.3s;
   }

   &:hover::before {

      width:100%;
   }


}