.section_slider {

 display: flex;
 align-items: center;
 height: auto;
 width:80%;
 border: 2px solid yellow;

  .arrow {

   width:55px;
   height: 50px;
   border-radius: 50%;
   background-color:#555;
   display:flex;
   justify-content: center;
   align-items: center;
   transition: all ease 0.3s;

   &__image {

    width:25px;
    height: 30px;

   }

   &:hover {

    background-color:#999;

   }
  }

  .slider{
    
   border: 2px solid green;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: 100%;

   &__title {

    font-size: 30px;
    margin-top:-3%;
    margin-bottom: 3%;
   }
  
   &__list {

    display: flex;
    align-items: center;
    justify-content: space-around;

    @include list_style_none;
   }

   &__item {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$grey;
    
    .item__title {
     text-transform: uppercase;
     font-weight: bold;
     font-size: 18px;
     margin-top: 10px;
     margin-bottom: 10px;
    }

    .item__description {
     display:none;
     text-align: center;
     line-height: 1.42;
    }
    
   }

   &__item--active {

    color:#fff;
    width:45%;

    .item__title{
     font-size: 22px;
    }

    .item__description {

     display: block;
    }

    .slider__img {
     
     width: 90%;
     height: initial;

    }

   }

   &__img {

    border-radius: 50%;
    width: 90%;
    height: 175px;

     @media screen and (max-width: 1024px) {
      height: 150px;
    }

     @include laptops () {
       height: 120px;
     }

   }

  }






 
}