html {
  height: 100%;
  margin:0;
  padding:0;
  font-size: 16px;
  color:#fff;

  @include laptops() {
    font-size: 15px;
  }

  @include tablets() {
    font-size: 14px;
  }
  // @include phones() {
  //   font-size: 13px;
  // } 

  line-height: 1.42;
  font-family: 'Ubuntu';
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  height: 100%;
  background-color: $black;
}

.container {

  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;

  height: 100%;
  position: relative;

}

.device_view {
  position: relative;
  width: 100%;
  min-height: 650px;
  height: 100%;
  overflow: hidden;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;

  @include tablets() {
    padding: 15px 0px;
  }
}

.wrapper {
  perspective: 500px;
  position: relative;
  width: 100%;
  min-height: 650px;
  height: 100%;
  overflow: hidden;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets() {

    min-height: auto;
    padding: 15px;
  }

}

.section {
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  position: absolute;
    left: 18%;
  height: 100%;
  margin: 0 auto;
  // border: 2px solid blue;
  width: 80%;

  @include tablets() {
    left:0;
    justify-content: center;
    min-height: auto;
    width: 95%;
    }

}

.one-page-scroll {
  height: 100%;
  transition: transform 1s;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  transition: all ease 0.5s;
  
}

img {
  // width: 100%;
  // height: 100%;
}

.decoration {
  z-index: 10;
  position: absolute;
}

.section--active {
  visibility: visible;
  opacity: 1;
}

